<ul class='card'>
  <li class='user-card'>
    <a href='/playlist/{{id}}'>
      <header class='user-header-playlist'>{{title}}</header>
    </a>
    <br />
    <p class='user-header-playlist'>Rating: {{rating}}</p>
  </li>
</ul>