<section>
  <div class='song'>
    <a href='javascript:void(0);' class='song-title'>Song: {{song}}</a>
    <div class='details hidden'>
      <p>Artist: {{artist}}</p>
      <p>Album: {{album}}</p>
      <p>Rating: {{rating}}</p>
    </div>
  </div>
</section>