{{#if loggedIn}}
{{> user}}

<section class="playlists">
  {{#each userPlaylists as |userPlaylist|}}
  {{> user-playlists}}
  {{/each}}
</section>
{{/if}}

<div class="scroller " data-duration="fast">
  <div class="scroller__inner-wrapper">
    {{#each playlists as |playlist|}}
      {{> top-rated-playlist}}
    {{/each}}
  </div>
</div>
<div class = "scroller" data-duration="fast">
  <div class="scroller__inner-wrapper">
    {{#each songs as |song|}}
      {{> top-rated-song}}
    {{/each}}
  </div>
</div>   


