{{#if loggedIn}}
{{> user}}

<section class="playlists">
  {{#each userPlaylists as |userPlaylist|}}
  {{> user-playlists}}
  {{/each}}
</section>
{{/if}}

<section class="playlists">
  {{#each playlists as |playlist|}}
  {{> top-rated-playlist}}
  {{/each}}
</section> --}}

<section class="songs">
  {{#each songs as |song|}}
  {{> top-rated-song}}
  {{/each}}
</section>

<div class="scroller " data-duration="fast">
      <div class="scroller__inner-wrapper">
        {{#each playlists as |playlist|}}
        {{> top-rated-playlist}}
        {{/each}}
      </div>
    </div>