{{> user}}

<section class="playlists">
  {{#each playlists as |playlist|}}
  {{> top-rated-playlist}}
  {{/each}}
</section>

<section class="songs">
  {{#each songs as |song|}}
  {{> top-rated-song}}
  {{/each}}
</section>