<section class="playlists">
  {{#each playlists as |playlist|}}
  {{> playlist-details}}
  {{/each}}
</section>

<section class="artists">
  {{#each artists as |artist|}}
  {{> artist-details}}
  {{/each}}
</section>