<html lang='en' dir='ltr'>

  <head>
    <meta charset='utf-8' />
    <title>Password Validation Check | CodingAyush</title>
    <link rel='stylesheet' href='css/style.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- Fontawesome Link for Icons -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css'
    />
    <script src='js/script.js' defer></script>
  </head>

  <body>
    <div class='wrapper'>
      <div class='user-field'>
        <input type='username' placeholder='Username' />
      </div>
      <div class='pass-field'>
        <input type='password' placeholder='Enter password' />
        <i class='fa-solid fa-eye'></i>
      </div>
    </div>

  </body>

</html>