<html lang='en' dir='ltr'>

  <head>
    <meta charset='utf-8' />
    <title>Password Validation Check | CodingAyush</title>
    <link rel='stylesheet' href='css/style.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- Fontawesome Link for Icons -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css'
    />
    <script src='js/script.js' defer></script>
  </head>

  <body>
    <div class='wrapper'>
      <div class='login-user-field'>
        <input id='email-login' type='email' placeholder='Email' />
      </div>
      <div class='login-pass-field'>
        <input id='password-login' type='password' placeholder='Password' />
        <i class='fa-solid fa-eye'></i>
      </div>
      <div style='text-align:center'><button
          class='shimmering-btn-def'
        >Login</button></div>
    </div>

  </body>

</html>