<form class='wrapper login-container'>
  <div class='user-field'>
    <input class='email-login' type='email' placeholder='Email' />
  </div>
  <div class='pass-field'>
    <input class='password-login' type='password' placeholder='Password' />
    <i class='fa-solid fa-eye'></i>
  </div>
  <div style='text-align:center'><button
      id='login-button'
      class='shimmering-btn-def'
      disabled
    >Login</button></div>
</form>

<script src='/js/login.js'></script>