
    <div class='wrapper'>
      <div class='login-user-field'>
        <input id='email-login' type='email' placeholder='Email' />
      </div>
      <div class='login-pass-field'>
        <input id='password-login' type='password' placeholder='Password' />
        <i class='fa-solid fa-eye'></i>
      </div>
      <div style='text-align:center'><button
          class='shimmering-btn-def'
        >Login</button></div>
    </div>

  

